
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
	&:active,&:focus{
		text-decoration: none !important;
	}
}

/* ======================================
 section
   ====================================== */

.section{
	display:table;
	position:relative;
	box-sizing:border-box;
	width:100%;
	text-align:center;
	margin:0 0 12em;
	padding:2em 0 0;
	@include max-screen($width_tab) {
		margin:0 0 5em;
	}
	h1,.related-title{
		margin:0 0 2em;
		text-transform:uppercase;
		.fa{
			padding-right: 5px;
		}
	  @include max-screen($width_tab) {
		margin:0 0 1.4em;
    	font-size:2.0rem;
	  }
	}
	.related-title{
		padding-top: 30px;
	}
}
.section--base{
	@extend .section;
	padding-top: 10em;
}

.worms{
	max-width: 100%;
}

.table-resume{
	text-align:left;
	border-bottom:#42444c solid 2px;
	border-right:#42444c solid 2px;
	.table-flex-item{
		display:flex;
		align-items:center;
		@include max-screen($width_tab) {
			flex-direction:column;
		}
	}
	.resume-title{
		text-align:left;
		font-size:1.4rem;
		color:#bcbcbc;
		font-weight:200;
		font-family:$font-regular-set;
		text-transform:uppercase;
		width:65px;
		vertical-align: middle;
	  @include max-screen($width_tab) {
			font-size:1.1rem;
	  }
		&[data-width="100"]{
			width:100px;
			min-width:100px;
		}
		&[data-width="120"]{
			width:120px;
			min-width:120px;
		}
		&[data-width="150"]{
			width:150px;
			min-width:150px;
		}
		&[data-width="160"]{
			width:160px;
			min-width:160px;
		}
		&[data-width="180"]{
			width:180px;
			min-width:180px;
		}
	}
	.table-block{
		display:flex;
	  align-items:center;
		vertical-align: middle;
		.table-td{
			padding:20px 30px;
			width:100%;
			display:flex;
		  	align-items:center;
			border-top:#42444c solid 2px;
			border-left:#42444c solid 2px;
			@include max-screen($width_tab) {
				padding:10px 20px;
				display:block;
			}
		}
		.table-left{
			width:50%;
		}
		.table-right{
			width:50%;
		}
		.table-cell{
			.we-box{
				margin:0 0 20px;
				overflow:hidden;
			  @include max-screen($width_tab) {
					margin: 7px 0 20px;
			  }
				&.we-box--na{
					margin-bottom: 0.5em;
				}
				&:last-child{
					margin-bottom:0;
				}
			}
			p,h4{
				font-size:2.0rem;
			  @include max-screen($width_tab) {
					font-size:1.4rem;
			  }
			}
			h4{
				margin:0 0 2px;
				line-height:1;
			}
			.we-title{
				font-size:1.2rem;
				font-family:$font-regular-set;
				color:#bcbcbc;
				margin:0 0 8px;
			  @include max-screen($width_tab) {
					margin-bottom: 4px;
			  }
			}
			.we-p{
				font-size:1.4rem;
				line-height:1.4;
				font-family:$font-regular-set;
				letter-spacing:0.03em;
			  @include max-screen($width_tab) {
					font-size:1.2rem;
			  }
			}
		}
		.skill-box{
			width:32%;
			margin: 0 1% 0 0;
			@include max-screen($width_tab) {
				width: 100%;
				margin: 7px 0;
			}
			h4{
				font-size:1.5rem;
				margin: 0 0 10px 0;
			}
		}
	}
}
.list{
	margin: 0.5em 0 0 1.4em;
	a{
		text-decoration: underline;
		color: #fff;
		&:hover{
			text-decoration: none;
		}
	}
	li{
		list-style-type: disc;
		font-size:1.3rem;
		font-weight:300;
		font-family:$font-regular-set;
		margin:0 0 5px;
	}
	&.list-flow{
		margin-top: 0.5em;
		li{
			float:left;
			margin: 0 30px 0 0;
		}
	}
}

.hover{
	transition: all 100ms ease;
	&:hover{
		color: #689ae6;
	}
}

.line-through{
	text-decoration: line-through;
}

.show-grid {
    // margin-bottom: 30px;
}

/* Bob */
$bob-num: 6px;
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-$bob-num);
    transform: translateY(-$bob-num);
  }
  50% {
    -webkit-transform: translateY(-$bob-num/2);
    transform: translateY(-$bob-num/2);
  }
  100% {
    -webkit-transform: translateY(-$bob-num);
    transform: translateY(-$bob-num);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-$bob-num);
    transform: translateY(-$bob-num);
  }
  50% {
    -webkit-transform: translateY(-$bob-num/2);
    transform: translateY(-$bob-num/2);
  }
  100% {
    -webkit-transform: translateY(-$bob-num);
    transform: translateY(-$bob-num);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-$bob-num);
    transform: translateY(-$bob-num);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-$bob-num);
    transform: translateY(-$bob-num);
  }
}

/* ======================================
 profile
   ====================================== */
.profile-box{
   	padding:30px 0 45px;
   	.row-profile{
   		padding:0 0 20px;
   	}
	.profile-img{
		img{
			border-radius: 50%;
		}
	}
	.profile{
		h2{
			margin:0 0 10px;
			a{
				color:#fff;
			}
		}
	}
}
.dl-list{
	dt,dd{
		display:inline-block;
		margin:0 5px;
	}
}
.media-list{
	display:flex;
	flex-wrap:wrap;
	@include max-screen($width_tab) {
		padding:0 10px;
	}
	li{
		margin:4px;
		width:15%;
		height:15%;
		@include max-screen($width_tab) {
			margin:2px;
			width:32%;
			height:32%;
		}
		a{
			display:block;
			position:relative;
			width:100%;
			height:100%;
			.media__des{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				.media__inner{
					display:table;
					width:100%;
					height:100%;
				}
				.media__meta{
					display:table-cell;
					width:100%;
					height:100%;
					vertical-align:middle;
    				transition: all 300ms ease;
    				opacity:0;
					.media__caption{
						line-height:1.2;
						color:#fff;
					}
				}
			}
			&:hover{
				.media__meta{
    				opacity:1;
					background: rgba(0,0,0,0.7);
					.media__caption{
					}
				}

			}
		}
		img{
			border-radius:3px;
			min-width:100%;
			height:auto;
		}
	}
}

#followed-list{
	padding:10px 0;
	text-align:center;
	li{
		display:inline-block;
		margin:5px;
		a{
			color:#fff;
		}
		p{
			margin:0;
			line-height:1.2;
			font-size:1.1rem;
			padding-bottom: 6px;
			width:70px;
		}
		span{
			display:block;
			font-size:1.1rem;
			padding-bottom: 4px;
		}
		img{
			border-radius:3px;
		}
	}
}

/* ======================================
 google map
   ====================================== */
.title-h2{
	margin:0 0 15px;
}
.blow{
	color:#333;
	margin:0;
	padding:4px 0 0;
	.blow-img{
		margin:0 0 8px;
		img{
			width:50px;
		}
	}
	p{
		font-size:1.3rem;
		line-height:1;
		margin:0;
		padding:0;
	}
	span{
		font-size:1.0rem;
		line-height:1;
		margin:0;
		padding:0;
	}
}
#map-canvas {
	width: 100%;
	height: 400px;
	margin:0 auto 20px;
	border-radius:4px;
	@include max-screen($width_tab) {
		width:100%;
		height:300px;
	}
}
